:root {
    min-height: 100vh;
    
    background-color: #ffffff;
    margin: 0 auto;
    font-family: 'Baloo Bhai 2', cursive;
}

body {
    margin: 1px;

}

.page-container {
    margin-bottom: 70px;
}

/* banner img*/

.banner {
display: flex;
flex-direction: column;
height: 100%;
opacity: 0.;

}

.container {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.75;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 16px;
  font-size: 39px;
  font-family: 'Baloo Bhai 2', cursive;
  color: rgb(241, 235, 235);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 42px;
    right: 49px;
    color: black;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 39px;
  font-family: 'Baloo Bhai 2', cursive;
  color: rgb(248, 241, 241);
}







/* flexbox */

.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 100%;
    
  }


  .flex-item-left img {
width: 50%;
    z-index: -1;
  }
  
  .flex-item-right {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 100%;
  }

  .flex-item-right img {
    width: 50%;
        z-index: -1;
      }


      .signUpButton {
        padding: 20px;
        margin: 20px;
        background-color: #100a0264;
        border-radius: 3px;
      }

      .signUpButton:hover{
        background-color: white;
        font-weight: bolder;
      }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }